
.idea/sonarlint/issuestore/2/a/2a2a2133422d28b5b828aaa42f7d90f355df32b6
.idea/sonarlint/issuestore/5/d/5d145eef5a4e0a8c0b914b7da8b2279e74bb649a
.idea/sonarlint/issuestore/9/f/9fe84ebb15faf917b7def6236dba604453cc61e0
.idea/sonarlint/issuestore/9/1/9110f383d45193f9e1f9708a0bb54a744105c100
.idea/sonarlint/issuestore/index.pb
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.idea/sonarlint
